#mainContent {
    padding-right: 30px;
    padding-left: 30px;
  }

  h1 {
    text-align: center;
  }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }

  .container {
      position: relative;
      text-align: center;
      color: white;
  }

  .footer {
    width: 100%;
    height: auto;
    line-height: 60px;
    position: absolute;
    bottom: 0;
    background-color: #c8c8c8;
  }

  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  /* Bootstrap overrides, custom Bootstrap css */
  .navbar {
    background-color: #a51417;
  }

  .nav-item {
    color: white;
  }

  /*
  .navbar{
    position: fixed;
  }
  */

  .card-img-top{
      width: 100%;
      height: 100%;
  }

  th {
    cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#file{
  position: relative;
    top: 40px;
    left: 46px;
}

#addFile{
  position: relative;
    left: 40px;
    top: 43px;
    font-size: 23px;
    font-weight: bold;
}

.plike{
  position: relative;
  top: 94px;
  left: 98px;
  width: 20px;
}

.pdislike{
  position: relative;
  top: 56px;
  left: 236px;
}

.likeSubmit{
  position: relative;
    top: 123px;
    left: -48px;
}

.dislikeSubmit{
  position: relative;
    top: 123px;
    left: 35px;
}

.linkText{
    position: relative;
    top: 92px;
    left: 30px;
}

.commentText{
  position: relative;
    top: 90px;
    left: 20px;
    height: 82px;
    width: 884px;
}

.commentSubmit{
  position: relative;
  top: 68px;
  left: 30px;
}

.pcomment{
  position: relative;
  top: 91px;
  left: 60px;
  background: #e4e2e2;
  width: 841px;
  height: 59px;

}
#hr{
  position: relative;
    top: 58px;
}
