body {
  background-image: url("../images/witewall_3.png");
  background-repeat: repeat;
}

/* Doesn't work with cols
#signupForm {
  background-color: whitesmoke;
}
*/

#signupLabel {
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
  color: #990000;
}